{% extends "base_customer.html" %}

{% block title %}Parcel Details{% endblock %}

{% block content %}
<section class="panel">

    <h2>Parcel details</h2>

    <dl class="info-grid">
        <div>
            <dt>Contents</dt>
            <dd>{{ parcel.contents }}</dd>
        </div>

        <div>
            <dt>Weight</dt>
            <dd>{{ parcel.weight }}</dd>
        </div>

        <div>
            <dt>Size</dt>
            <dd>{{ parcel.size }}</dd>
        </div>

        <div>
            <dt>Service</dt>
            <dd>{{ parcel.service }}</dd>
        </div>

        <div>
            <dt>Courier</dt>
            <dd>{{ parcel.courier }}</dd>
        </div>
    </dl>

</section>
{% endblock %}
